

#overlay5{
    width: 100%;
    height: 100%;
    
    background-color:whitesmoke;
}
form{
    max-width: 550px;
    width: 90%;
    background: white;
    margin:17vh auto 0 auto;
    padding: 40px;
    border-radius: 3px;
    box-sizing: border-box;
}
#con{
    margin: 0%;
    
}
label{
    display:block;
margin: 20px 0;
}
input, textarea{

    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize:none;
    border: none;
    border-bottom: 1px solid #d3d3d3;
}
input[type="text"]:focus, textarea:focus{
    border-bottom: 1px solid aqua;

}


textarea::-webkit-scrollbar{
    width: 40px;
}
textarea::-webkit-scrollbar-thumb{
background-color: aqua;
}
.center{
    text-align: center;
}
input[type="submit"]{
    margin-top :30px; 
    width: 90%;
    max-width: 200px;
    background:linear-gradient(to right, aqua,aqua);
    color:whitesmoke;
    font-size: 17px;
    cursor:pointer;
    border-radius: 3px;


}
.error{
    color: red;

}

.error-border{

border-bottom:1px solid red;
}
#success{
    color: #28a745;
}